$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$gray-990: #181a1d !default;
$black: #000 !default;

$primary: #c44f3f !default;

$background: #868e96 !default;
$background-card: #f8f9fa !default;

$errorColor: darken(red, 10%);
$validColor: green;
$warningColor: rgb(255, 255, 134);

$break-md: 768px; //unused so far
$break-lg: 992px;

$header-height-on-big-displays: 52px; 
$header-height-on-small-displays: 60px; 

$footer-height-on-big-displays: 43px;
$footer-height-on-small-displays: 73px;