$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$gray-990: #181a1d !default;
$black: #000 !default;

// $primary: #2ba079 !default; //old 2ec65e
// $primaryRGBA: rgba(43, 160, 121, 1);

$primary: #2f72b5 !default;


$background: #dddddd !default;

$errorColor: darken(red, 10%);
$validColor: green;
$warningColor: rgb(255, 255, 134);

$break-md: 768px;
$break-lg: 992px;

$header-height-big: 60px;

$footer-height-small: 43px;
$footer-height-big: 73px;